
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <h6 class="navbar-text">&copy; 2017 All Rights Reserved by Survey Ocean</h4>
      </div>
    </nav>   
    <!-- Scripts -->    
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>    
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>    
    <script src="/Scripts/app.js"></script>
  </body>
</html>

<!-- 
  File name: footer.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: Footer (Partial)
-->
