<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css'/>   
    <link rel="stylesheet" href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
