<!-- 
  File name: index.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: Survey main page
-->

<% include ../partials/header.ejs %>
    <div style="background:transparent !important" class="jumbotron col-md-offset-2 col-md-8">
      <h2>Easily create customized surveys.</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
        </div> <!-- body .container.row.col-md-offset-3 col-md-6 -->
      </div>
    </div> <!-- body .container -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>    
<% include ../partials/footer.ejs %>