<!-- 
  File name: tfq.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: Create a new T/F Question
-->

<% include ../partials/header.ejs %>
<!-- Breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/survey">Survey</a></li>
      <li class="breadcrumb-item"><a href="/survey/createNew">New Survey</a></li>
      <li class="breadcrumb-item">True / False Questions</li>
    </ol>
    <div class="container">
      <form class="form-horizontal" method="post">
        <div class="form-group jumbotron" id="mcqJumbotron">          
          <label class="col-sm-2 control-label">Survey Title:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control input-sm" name="surveytitle" placeholder="Survey Title" required><br><br>
          </div>
          <label class="col-sm-5 control-label">Survey Duration in Hours (Min: 1 Hour, Max 48 Hours):</label>
          <div class="col-sm-1">
            <input type="number" class="form-control input-sm" name="duration" value="1" min="1" max="48" maxlength="2" required>
          </div>
          <table class="table">     
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Question</th>
              <th class="text-center"></th>
            </tr>
            <!-- Template Row -->
            <% for (let i=0; i < totalQuestions; i++){ %>
            <tr>               
              <td class="text-center"> <%=i+1%> </td>
              <td class="text-center">               
              <% if (i == 0) {%>
                <input type="text" class="form-control" name="question<%=i%>" placeholder="Please enter your question (Max 100 Characters)" maxLength="100" required>
              <%}else{%>
                <input type="text" class="form-control" name="question<%=i%>" placeholder="Please enter your question (Max 100 Characters)" maxLength="100">
              <%}%>
              </td>
            </tr>
            <%}%>
          </table>
          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i>Create Survey</button> &nbsp;
          <a href="/survey" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>      
        </div>
      </form>
    </div> <!-- body .container -->
<% include ../partials/footer.ejs %>
