<!-- 
  File name: index.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: Survey main page
-->

<% include ../partials/header.ejs %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/survey">Survey</a></li>
      <li class="breadcrumb-item">New Survey</a></li>
    </ol>
    <div style="background:transparent !important" class="jumbotron col-md-offset-1 col-md-1">
      <!-- <h3>&nbsp;&nbsp;&nbsp; <i class="fa fa-archive"></i> New Survey</h3> -->
    </div>   
    <div class="container">
      <form class="form-horizontal">
        <div class="form-group" id="insertRow">

        <table class"table">
          <tr>
            <td>Survey Name: </td>
            <td><input type="question" class="form-control" id="nameOfSurvey" placeholder="Survey Name"></td><br>
          </tr>
          <br>
          <tr>  
            <td> Survey Life Time: </td>
            <td> <input type="question" class="form-control" id="surveyLifeTime" placeholder="Survey Life Time"> </td>
          </tr>

        </table>

          <table class="table">     
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Question</th>
              <th class="text-center"></th>
            </tr>
          <!-- Template Row -->
          <% for (let i=0; i < tfqs.length; i++){ %>
            <tr>               
              <td class="text-center"> <%=i+1%> </td>
              <td class="text-center">                     
                <input type="question" class="form-control" id="question1value" placeholder="">                    
              </td>
    
              <td class="text-center"> <%=tfqs[i]._id%></a> </td>
            </tr>
          <% } %>
          </table>
          
        </div>
        <table class="table">

        <tr>
          <a href="/addTfQuestion" type="button" class="btn btn-success col-md-offset-8 col-md-2"> Create Survey </a>
          <a href="/addTfQuestion" type="button" class="btn btn-warning"> Cancel </a>
        </tr>
        
        </table>
        </form>
    </div> <!-- body .container -->
<% include ../partials/footer.ejs %>
