body {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Ubuntu", sans-serif;
  color: #ffffff;
  background-color: #0066cc;
}

/* Nav */
nav {
  padding-top: 25px;
  padding-bottom: 15px;
  min-width: 280px;
}

/* Nav container that contains toggle and brand */
nav .container .navbar-header {
  padding-left: 50px;
  padding-right: 30px;
  min-width: 10%;
}

nav .container .navbar-header .navbar-toggle {
  margin-right: 5px;
}

.navbar .nav > li > a {
  background:transparent;  
  padding-top: 15px;
  padding-left: 30px;  
  padding-right: 30px;
  font: 16px "Ubuntu", sans-serif;
}

#user-text {
  font-size: 16px;
}
