body {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  font: 14px "Ubuntu", sans-serif;
  color: #ffffff;
  background-color: #0066cc;
}

/* Nav */
nav.navbar-fixed-top{
  padding-top: 25px;
  padding-bottom: 15px;
  min-width: 280px;
}

/* Nav container that contains toggle and brand */
nav .container .navbar-header {
  padding-left: 50px;
  padding-right: 30px;
}

.navbar .nav > li > a {
  background:transparent;  
  padding-top: 15px;
  padding-left: 30px;  
  padding-right: 30px;
  font: 16px "Ubuntu", sans-serif;
}

#user-text {
  font-size: 16px;
}

#userJumbotron{
  background: #f2f2f2;
  border: 2px solid black;
  color: black;
}

/* SURVEYS */
#surveyJumbotron{
  border: 5px solid #ffffff;
  width: 100%;
  margin-top: -5%;
}

#btnAnswerSurvey{
  width: 75px;
}

ul.list-group.collapse{
  color: black;
}

#listTitle{
  font-size: 18pt;
  vertical-align: middle;
  margin-left: 5%;
}

/* T/F View */
#questionTitle{
  color: #0066cc;
}

#tfchoice{
  color: #000000;
  font-size: 16pt;
}


/* ETC */
#surveyBadge {
  background-color:#0066cc;
}

#listBadge{
  margin-top: 10px;
}

.breadcrumb{
  background-color: transparent;
}

.breadcrumb a{
  color: white;
}

img {
  display: block;
  margin-top: -5%;
  width: 100%;
  height: 80%;;
}

img.steps {
  display: inline-block;
  width: 20%;
  padding-right: 40px;
}
