<!-- 
  File name: about.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: About page
-->
<% include ../partials/header.ejs %>
    <div style="background:transparent !important" class="jumbotron col-md-offset-2 col-md-8">
      <h2>About Us</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <p>Survey Ocean is created by Taera Kwon, Dominic Lau, and Ali Saim. They want to create a survey web application that allows users to create survey questions.</p>
        <h3>Our Mission</h3>
        <p>To provide users a variety of different surveys to collect data and sophisticated analysis.</p>
        </div> <!-- body .container.row.col-md-offset-3 col-md-6 -->
      </div>
    </div> <!-- body .container -->
  
<% include ../partials/footer.ejs %>