<!-- 
  File name: about.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: About page
-->
<% include ../partials/header.ejs %>
    <div style="background:transparent !important" class="jumbotron col-md-offset-2 col-md-8">
      <h2>About Us</h2>
    </div>
 <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p>Survey Ocean is created by Taera Kwon, Dominic Lau, and Ali Saim. They want to create a survey web application that allows users to create survey questions.</p>
            <h3>Our Mission</h3>
            <p>To provide users a variety of different surveys to collect data and sophisticated analysis.</p><br>


                    <div class="col-xs-9 col-md-4">
                    <div class="teamMemberName"> <h4>Taera Kwon</h4> </div> <br>
                            <div class="team"> <img <img class="team" src="assets/images/devTeam/Taera.jpeg" alt="Picture of Engineer"> </div> <br>
                                  <div class="teamMemberInfo">
                                      <p>Project Engineer</p>
                                      <article>
                                            <a id="githubFont" href="https://github.com/taerakwon"> 
                                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>  View GitHub </a>
                                      </article>
                                  </div>    
                    </div>

                    <div class="col-xs-9 col-md-4">
                     <div class="teamMemberName"> <h4>Dominic Lau</h4> </div> <br>
                            <div class="team"> <img <img src="assets/images/devTeam/Dom.jpeg" alt="Picture of Project Manager"> </div> <br>
                                    <div class="teamMemberInfo">
                                        <p>Project Manager</p>
                                        <article>
                                            <a id="githubFont" href="https://github.com/domlau"> 
                                            <i class="fa fa-github fa-2x" aria-hidden="true"></i> View GitHub</a>
                                        </article>
                                    </div>       
                    </div>

                    <div class="col-xs-9 col-md-4">
                     <div class="teamMemberName"> <h4>Ali Saim</h4> </div> <br>
                            <div class="team"> <img class="team" src="assets/images/devTeam/Ali.jpeg" alt="Picture of Designer"> </div> <br>
                                   <div class="teamMemberInfo">
                                         <p>Project Designer</p> 
                                         <article>        
                                            <a id="githubFont" href="https://github.com/AliSaim"> 
                                            <i class="fa fa-github fa-2x" aria-hidden="true"></i> View GitHub</a>
                                         </article>
                                    </div>
                    </div>
                    

        </div> <!-- body .container.row.col-md-offset-3 col-md-6 -->
      </div>
    </div> <!-- body .container -->

  
<% include ../partials/footer.ejs %>
