<!-- 
  File name: contact.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: Contact page
-->
<% include ../partials/header.ejs %>
    <div style="background:transparent !important" class="jumbotron col-md-offset-2 col-md-8">
    <!-- <h2><%= title %></h2> -->
      
    </div>
    <div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
          <div class="col-xs-12 col-md-8">

          <address>
              <strong>Survey Ocean, Inc.</strong><br>
              941 Progress Ave<br>
              Toronto, Ontario M1k-5E9<br>
              <abbr title="Phone">P:</abbr> (416) 289-5000
          </address>

          <address>
              <strong>Email Address</strong><br>
              <strong> <a href="mailto:#">surveyoceanofficial@gmail.com</a></strong>
          </address>

          </div>



          <div class="col-xs-6 col-md-4"></div>
        </div>


        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
          <div class="col-xs-6 col-md-4"></div>


          <div class="col-xs-6 col-md-4">

              <h4>Get Involved With Our Social Media</h4>
              <a href="https://www.facebook.com/SurveyOcean/">
                                <i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i> </a> &nbsp;

              <a href="https://twitter.com/Survey_Ocean">
              <i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i> </a> &nbsp;


              <a href="https://www.instagram.com/surveyocean5893/">
              <i class="fa fa-instagram fa-4x" aria-hidden="true"></i> </a> &nbsp;
              
              <a href="https://www.linkedin.com/in/survey-ocean-b3928113b/?trk=uno-choose-ge-no-intent&dl=no">
              <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i> </a> &nbsp;
              

              <a href="https://www.pinterest.com/surveyocean/">
              <i class="fa fa-pinterest-square fa-4x" aria-hidden="true"></i> </a>

          </div>


          <div class="col-xs-6 col-md-4"></div>

        </div>

        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row">
          <div class="col-xs-6"></div>
          <div class="col-xs-6"></div>
        </div>
    </div>   


<% include ../partials/footer.ejs %>