<!-- 
  File name: index.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: Main content page
-->
<% include ../partials/header.ejs %>
    <div style="background:transparent !important" class="jumbotron col-md-offset-1 col-md-10">

    <img class="logo" src="assets/images/so1.jpg" alt="logo">


    <div class="col-md-offset-4 col-md-0">
        <img class="steps" src="assets/images/step1.png" alt="logo">
        <img class="steps" src="assets/images/step2.png" alt="logo">
        <img class="steps" src="assets/images/step3.png" alt="logo">
    </div>

    </div>

    <div class="container">

      <div class="row">

        <div class="col-md-offset-3 col-md-6">
        </div> <!-- body .container.row.col-md-offset-3 col-md-6 -->

      </div>



    </div> <!-- body .container -->
     
<% include ../partials/footer.ejs %>