<!-- 
  File name: index.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: Main content page
-->
<% include ../partials/header.ejs %>
    <div style="background:transparent !important" class="jumbotron col-md-offset-1 col-md-10">

        <div class="bannerlogo">
            <img class="logo" src="assets/images/so1.jpg" alt="logo">
        
              <div class="col-md-offset-4 col-md-0">
                  <a href="/register"> <img class="steps" src="assets/images/step1.png" alt="step1"> </a>
                  <a href="/survey/createNew"><img class="steps" src="assets/images/step2.png" alt="step2"> </a>
                  <a href="/register"> <img class="steps" src="assets/images/step3.png" alt="step3"> </a> <!--NOT sure where to link this button -->
              </div>
        </div>    

    </div>
     
<% include ../partials/footer.ejs %>